body {
    background-color: #F9FFFE;
}

.bar {
    background-color: #F9FFFE;
}

.bar div.array {
    background: #D1E0FF;
    display: inline-block;
    margin: 5px 10px 5px 5px;
    padding: 20px;
    border: 1px solid black;
}

.bar div.element {
    background: #C6FFBF;
    border: 1px solid black;
    display: inline-block;
    width: 10px;	
    margin-right: 1px;
    position: relative;
    box-shadow: 3px 3px 8px 0px #586491;
}

.bar span.pointer {
    display: none;
}

.bar div.element span.pointer {
    display: inline-block;
    position: absolute;
    top: calc(100% + 5px);
    left: 5px;
    background-color: #F9FFFE;
    color: #3A4B8E;
    font-weight: bold;
    padding: 1px 5px 5px 5px;
    border: 1px solid #FFFC82;
    border-left-width: 5px;
    border-bottom-left-radius: 10px;
    box-shadow: 5px 5px 10px 0px #586491;
    z-index: 1;
}
