.simple div.array {
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    height: 32px;
    clear: both;
    margin: 10px;
}

.simple div.element {
    border: 1px solid black;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    position: relative;
}

.simple i.pointer {
    display: none;
}

.simple div.element i.pointer {
    display: block;
    background-color: #eee;
    position: absolute;
    padding: 3px;
    right: 0;
    bottom: -20px;
    font-size: 14px;
    line-height: 16px;
}
